{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SPDO - Sistema de Protocolo de Documentos</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% block content %}
      {% endblock %} 
  </div>
      <a href="{{url 'home' }}">Home</a>
</body>
</html>
